@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.navbar {
    padding-top: 0px !important;
}
.collapse{
    background-color: #301c4c;
    width: 80%;
    height: 90px;
}
.icontop {
    padding-left: 20px;
}
nav .navbar-nav li a{
    color: white !important;
}
.nav-item {
    padding-left: 20px !important;
}
.nav-icon .icontop {
    color: aliceblue;
    padding-right: 10px;
    margin-right: 20px;
    font-size: x-large;
}
.leftmain {
    float: left;
    width: 80%;
    height: 200vh;
    background-color: #ede5f5;
    text-align: center;
    display: flexbox;
}
.rightmain {
    width: 18%;
    background-color: rgb(255, 255, 255);
    float: right;
    top: 0;
    display: flexbox;
}

.tips {
    margin-left: -20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 290px;
}
@media only screen and (max-width:1000px){
    .rightmain{
        float: none;
        width: 100%;
    }
    .tips{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .leftmain{
        width: 100%;
        float: none;
    }
    .profile{
        width: 10px;
    }
    .connect-box{
        width: 10px;
    }
    

}
.tiptext {
    padding-right: 10px;
    text-align: left;
    padding-left: 10px;
}
.hi{
    width: 95%;
    height: 120px;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 7px;
}
.th {
    padding-top: 35px;
    padding-left: 25px;
    float: left;
}
.dates {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 30px;
    margin-right: 30px;
}
.datebox {
    margin-left: 10px;
    text-align: left;
    padding: 8px;
    float: right;
    border-width: 2px;
    border-radius: 6px;
    border-style: groove;
    border-color: #c2aede;
}
.connect{
    display:inline-block;
}
.co {
    color: rgb(101, 96, 96);
    font-size: x-large;
    margin-right: 50px;
}
.co2 {
    color: rgb(101, 96, 96);
    font-size: x-large;
    margin-left: 30px;
}
.view2 {
    margin-left: 900px;
    color: #390582;
    font-size: large;
}
.view {
    margin-left: 150px;
    color: #390582;
    font-size: large;
}
.connect-box {
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    display: table;
}
.connect-box2 {
    background-color: #ffffff;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: table;
}
.profile {
    text-align: left;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    width: 550px;
}

.tp{
    padding-left: 20px;
    position: absolute;
}
.dp {
    padding-left: 20px;
    padding-top: 30px;
    position: absolute;
    color: #746d6d;
}
.time {
    float: right;
    margin-left: 8px;
    color: #746d6d;
}
.iconc {
    color: rgb(213, 88, 66);
    font-size: small;
}
.icong {
    color: rgb(34, 193, 82);
    font-size: small;
}
.profilel {
    text-align: left;
    padding: 10px;
    padding-left: 30px;
    width: 550px;
}
.todo {
    width: 100%;
    height: 50px;
    display: table;
}
.t1 {
    float: left;
    margin-left: 20px;
}
.rt {
    float: left;
    margin-left: 30px;
    width: 20px;
    height: 20px;
}
.time2 {
    float: left;
    margin-left: 75px;
    color: #746d6d;
}
.dp2 {
    float: left;
    margin-left: 20px;
    color: #746d6d;
}

.archive {
    float: right;
    width: 24px;
    margin-right: 40px;
    display: none;
    margin-top: -10px;
}
.archive2 {
    float: right;
    width: 22px;
    margin-right: 200px;
    display: none;
    margin-top: -10px;

}
.todo:hover {
    background-color: #ebe1f8;
}
.todo:hover .archive{
    display: flex;
}
.todo:hover .archive2{
    display: flex;
}
.todo:hover .imgtodo{
    display: flex;
}

.imgtodo {
    margin-top: -14px;
    margin-left: 1000px;
    display: flex;
}
.pto {
    margin-left: -7px;
    width: 20px;
    float: right;
}
.week{
    margin-left: 13px;
    color: #8d5dd0;
}
.fix{
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    right: 0;
    width: 70px;
}